CapaPresentacion/Service References/ServiceReferenceUsuario/UsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaNegocios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaNegocios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39755/UsuarioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CapaDatos" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaDatos" minOccurs="0" name="Usuarios" nillable="true" type="q1:ArrayOfUsuario" />
      <xs:element minOccurs="0" name="esExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>